__pycache__/
.context/
.logs/
.log/
.pytest_cache/
.vscode/
*_log.py
classified_events/
license.py
okx_markets.json
binance_markets.json
bybit_markets.json
build/
venv/
*.c
*.so
result.json
clear.sh
*.key
.idea/
logs/
.DS_Store
md_source/
nautilus_trader/
*.pkl
env/
dist/
.env
example_test/
.python-version
ecosystem.config.js
settings.toml
!test/test_data/market.pkl
!test/test_data/market_id.pkl
jupyter/
.tmp
yaml-config/